.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
}

.todo-list-item {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-list-item-button {
  display: none;
  
}

.todo-list-item:hover .todo-list-item-button {
  display: flex;
  position: absolute;
  left: -60px;
}
