body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-app {
  font-family: 'Roboto', sans-serif;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 48 40 36 40;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.09);
}

.new-todo-form {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  position: relative;
}

.new-todo-form-errors {
  font-size: 11px;
  color: red;
  position: absolute;
  top: -16px;
}

.new-todo-form-input {
  border: 1px solid lightgrey;
  height: 13px;
}

.new-todo-form-submit {
  height: 17px;

  background-color: rgba(17, 17, 17, 0.03);
  border: 1px solid lightgrey;
  margin-left: -1px;
}

.todo-list {
}

.todo-list-item {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-list-item-button {
  font-family: 'Noto', 'Roboto', 'Arial', sans-serif;
  display: none;

  border: none;
  padding: 5px 0;

  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  z-index: 2;
}

.todo-list-item-button:focus {
  outline: 0;
}

.todo-list-item-button > div {
  /*font-size: 12px;*/
  padding: 0 5px;
}

.todo-list-item-button > div:hover {
  background-color: rgba(17, 17, 17, 0.1);
}

.todo-list-item:hover .todo-list-item-button {
  display: flex;
  position: absolute;
  left: -50px;
}
