body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-app {
  font-family: 'Roboto', sans-serif;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 48 40 36 40;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.09);
}

.new-todo-form {
  position: relative;
  padding-bottom: 15px;
}

.new-todo-form-errors {
  font-size: 11px;
  color: red;
  position: absolute;
  top: -16px;
}

.new-todo-form-inputs-text {
  font-size: 14px;
  border: 1px solid lightgrey;
  height: 16px;
  width: 180px;
}

.new-todo-form-inputs-submit {
  height: 20px;
  font-size: 14px;
  font-weight: 700;

  background-color: rgba(17, 17, 17, 0.03);
  border: 1px solid lightgrey;
  margin-left: -1px;
}

.todo-list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-header {
  display: block;
  padding-bottom: 10px;
}

.todo-list-item {
  width: 200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.completed {
  text-decoration: line-through;
}

.todo-list-item-button {
  font-family: 'Noto', 'Roboto', 'Arial', sans-serif;
  display: none;

  border: none;
  padding: 5px 0;

  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  z-index: 2;
}

.todo-list-item-button:focus {
  outline: 0;
}

.todo-list-item-button > div {
  padding: 0 5px;
}

.todo-list-item-button > div:hover {
  background-color: rgba(17, 17, 17, 0.1);
}

.todo-list-item:hover .todo-list-item-button {
  display: flex;
  position: absolute;
  left: -50px;
}
